git+https://github.com/scikit-sparse/scikit-sparse.git@new_release#egg=scikit-sparse

# For enterprise_warp.py
numpy
bilby
pandas
enterprise
enterprise_extensions

# Further for libstempo_warp.py
# libstempo

# Further for results.py
scipy
corner
matplotlib
chainconsumer
