# This is a preliminary list of requirements.
# Note, required packages have their own dependencies.

# For enterprise_warp.py
numpy
bilby
pandas
enterprise
enterprise_extensions

# Further for libstempo_warp.py
libstempo

# Further for results.py
scipy
corner
matplotlib
chainconsumer
